<header class="relative bg-white">
  <div class="mx-auto px-4 sm:px-6 py-3 lg:py-5">
    <div class="flex justify-between lg:justify-center items-center md:justify-start md:space-x-10">
      <!-- STORE NAME/LOGO -->
      <div class="flex-justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">
          {{ shop.name }}
        </h1>
      </div>
      <!-- MOBILE MENU -->
      <div class="md:hidden flex justify-center items-center">
        <button id="mobileMainMenuButton" class="">
          {% render 'icon-hamburger' %}
        </button>
        <div id="mobile-main-menu" class="hidden absolute top-full flex-col gap-2 w-full p-5 bg-white left-0">
          {% for link in section.settings.menu.links %}
            {% if link.links != blank %}
              <div class="">
                <div id="" class="inline-flex items-center dropdown-menu-item">
                  {{ link.title }}
                  {% render 'icon-dropdown' %}
                </div>
                <div class="nested-menu-{{ link.title | handleize }} hidden">
                  {% for childlink in link.links %}
                    <a href="{{ childlink.url }}" class="ml-2">- {{ childlink.title }}</a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-700">{{ link.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- NAVIGATION MENU -->
      <div class="hidden lg:flex space-x-10">
        {% for link in section.settings.menu.links %}
          {% if link.links != blank %}
            <div class="relative group">
              <a href="{{ link.url }}" class="inline-flex items-center ">
                {{ link.title }}
                {% render 'icon-dropdown' %}
              </a>
              <div class="absolute z-10 -ml-5 transform px-2 w-screen max-w-xs sm:px-0 lg:ml-0 lg:left-1.5 lg:-translate-x-1.5 hidden group-hover:block">

                <div class="relative grid gap-6 border border-1 border-gray-800 bg-white px-5 py-5 sm:gap-8">
                  {% for childlink in link.links %}
                    <a href="{{ childlink.url }}" class="-m-3 p-1 flex items-start hover:bg-gray-100">
                      <p class="text-gray-900 text-base fonr-medium">
                        {{ childlink.title }}
                      </p>
                    </a>

                  {% endfor %}
                </div>


              </div>
            </div>
          {% else %}
            <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-700">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="/cart" class="whitespace-nowrap text-base text-gray-700 hover:text-gray-900 w-6 h-6">
          {% render 'icon-shopping-bag' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" class="text-base text-gray-500 hover:text-gray-800">Account</a>
            {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
          {% else %}
            {{ "Log in" | customer_login_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
            {{ "Register" | customer_register_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"' }}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
  }
{% endschema %}